.contenedorCouter{
    margin-top: 50;
    display: flex;
    justify-content: center;
}
.title,.textStock{
    text-align: center;
}

.groupButton{
    display: flex;
    justify-content: center;
}

.buttonAgregar,.buttonQuitar{
    color: white;
    padding: 10px 5px;
    border-radius:8px ;
    margin-right: 10px !important;
}
.buttonAgregar{
    background-color: green;
}
.buttonQuitar{
    background-color: red;
}
